# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.log 

# Specific files and folders
LorcanaJSON/
find_similar_cards copy.py
json_lorcana_test.py
popular_archetype_breakdown.html
preprocess_json_allCards.py
sentence_similarity.py
similicana_v01.py
similicana_prototype.py
winrate_matrix_last3months.html
singleCard_analysis_branch/static copy/script_single.js
